@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf') format("truetype"),
    url('../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff') format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot?#iefix') format("embedded-opentype"),
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf') format("truetype"),
    url('../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff') format("woff");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format("embedded-opentype"),
    url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf') format("truetype"),
    url('../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff') format("woff");
}